{% extends 'base.html' %}

{% block title %}Edit {{post.title}}{% endblock %}

{% block main_header %}Edit {{post.title}}{% endblock %}

{% block content %}

    <form action="/posts/{{ post.id }}/edit" method="POST">
        <input type="text" name="title" id="title">
        <label for="title">Title</label>
        <input type="text" name="content" id="content">
        <label for="content">Post Content</label>


        {% for tag in post.tags %}
        <input type="checkbox" name="{{ tag }}">
        {% endfor %}

        
        <a href="/posts/{{post.id}}"><button>Cancel</button></a>
        <input style="display: block" type="submit" value="Edit">
    </form>

{% endblock %}